<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Nosso Hotel</title>
</head>
<body>

<h2>Nosso Hotel</h2>
<br/>
<br/>

<ul>
    <li><span th:text="${hotel.id}"></span></li>
    <li><span th:text="${hotel.nomeHotel}"></span></li>
    <li><span th:text="${hotel.telefonePrincipal}"></span></li>
    <li><span th:text="${hotel.telefoneAuxiliar}"></span></li>
    <li><span th:text="${hotel.email}"></span></li>
    <li><span th:text="${hotel.tipoLogradouro.descricao}"></span></li>
    <li><span th:text="${hotel.logradouro}"></span></li>
    <li><span th:text="${hotel.numeroResidencial}"></span></li>
    <li><span th:text="${hotel.complemento}"></span></li>
    <li><span th:text="${hotel.cep}"></span></li>
    <li><span th:text="${hotel.bairro}"></span></li>
    <li><span th:text="${hotel.cidade}"></span></li>
    <li><span th:text="${hotel.estado}"></span></li>
</ul>

</body>
</html>