<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hoteis</title>
</head>
<body>

<h2>Nossos Hoteis</h2>

<br />
<br />
<br/>
<span th:text="${sucess}"></span>
<br/>

<ul>
    <li th:each="hotel : ${list}">
        <a th:href="@{/hotel/detalhe(id=${hotel.id})}" th:text="${hotel.nome}"></a>
        <a th:href="@{/hotel/deleta/{id}(id=${hotel.id})}">  | Deleta</a>
    </li>
</ul>

<br />
<br />

<a th:href="@{/hotel/formulario}">Cadastrar Hotel</a>

</body>
</html>